<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/light-colors.css" type="text/css">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <title>Reece Jones</title>
</head>
<body>
    <div class="center-column" id="primary-container">
        <nav id="navbar">
	        <a href="/">Home</a>
            <a href="/events">Life Events</a>
            <a href="https://old.reece.ooo">Old Website</a>
            <a href="https://github.com">Github</a>
            <a href="https://cdn.reece.ooo/alpha/resume.pdf">Resume</a>
        </nav>
        <p>
            <h1>Reece Jones</h1>
            <h2>College Student and Software Developer</h2>
        </p>
        <nav id="contents">
            <ul>
                <li>
                    <a href="#about">About Me</a>
                </li>
                <li>
                    <a href="#experience">Work Experience</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
            </ul>
        </nav>
        <div class="divider" id="about"></div>
        <section>
            <h3>About Me</h3>
            <p>
                I'm an 18-year-old male, who's a permanent resident of Folsom, 
                California. However, I am temporarily living in West Lafayette, 
                Indiana on a seasonal basis to attend Purdue University.
            </p>
            <p>
                I'm current a student at Purdue University pursuing a 
                Bachelor's of Science in Computer Science and Data Science. 
                I expect to graduate 2023. I also work as a part-time Robot 
                Operator/Field Assistant at Starship Technologies. In my
                (little) spare time outside of work and studies I like to
                code, occasionally play video games, watch movies, tinker with 
                mechanical keyboards and geek out over the latest tech.
            </p>
            <p>
                I love low-level programming, and thus strongly prefer using 
                C++, C, and D in my projects. I'm currently learning Python 
                as a supplemental scripting language. I also have experience 
                with other programming languages, but do not prefer them, 
                and am not nearly as proficient in them as I am in C/C++/D.
            </p>
            <p>
                I primarily use Linux on all of my computers and servers, but 
                have a good amount of Windows WinAPI programming experience. 
                I have collected 2 physical rack-mount servers, and set them up
                 in my dorm mostly for fun. They serve very little practical 
                purpose other than giving me experience in (decade old) enterprise
                hardware, and a sandbox to play with.
            </p>
        </section>
        <div class="divider" id="experience"></div>
        <section>
            <h3>Work Experience</h3>
            <p>
                <h4>Intel Corporation</h4>
                <strong>Role: </strong> Software Development Intern
                <br>
                <strong>When: June 2019-August 2019</strong>
                <ul>
                    <li>
                        Developed <em>Tracebird</em>, a GUI application used to parse 
                        and analyze Windows PCI driver logs. The goal of the project 
                        was to introduce an application that could be used 
                        by developers as an indirect debugging tool.
                    </li>
                    <li>
                        <em>Tracebird</em> parses, aggregates, analyzes and visualizes 
                        data produced by drivers. As such, anomalies could be more 
                        easily detected, and inferences more easily made.
                    </li>
                    <li>
                        I was largely responsible for coding the entire project with 
                        feedback and requirements from my colleagues.
                    </li>
                    <li>
                        5,000+ LoC over 450+ commits in the 2-month timespan.
                    </li>
                </ul>
            </p>
            <p>
                <h4>Starship Technologies</h4>
                <strong>Role: </strong> Robot Operator/Field Assistant
                <br>
                <strong>When: </strong> September 2019-Present
                <br>
                When I started this role, Starship was a new service offered 
                to Purdue students. For the uninitiated, Starship is a last mile 
                autonomous delivery service using robots approximately the size of 
                a person.
                <ul>
                    <li>
                        Control robots remotely when they encounter issues they 
                        cannot resolve autonomously. (e.g. robot is being 
                        harassed, or gets stuck in snow).
                    </li>
                    <li>
                        Fix merchant issues and maintain merchant relations.
                    </li>
                    <li>
                        Fix robots when they break down.
                    </li>
                </ul>
            </p>
        </section>
        <div class="divider" id="projects"></div>
        <section>
            <h3>Projects</h3>
            <code>
                <pre>
#include &lt;stdio.h&gt;

int main(...) {
    printf("Hello World!");
    return;
}
                </pre>
            </code>
            <p>
    
            </p>
        </section>
    </div>
</body>
</html>
